trunk/Development/POC Source codes/FarmerPlusPOC/FarmerPlusClient/Service References/ServiceReferenceWeather/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FarmerPlusDataObjectLayer" />
  <xs:element name="GetCurrentConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputrequest" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FarmerPlusDataObjectLayer" minOccurs="0" name="GetCurrentConditionsResult" nillable="true" type="q1:Conditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>