trunk/Development/POC Source codes/FarmerPlusPOC/FarmerPlusScheduarManager/Service References/ServiceReferenceCrop/FarmerPlusDataObjectLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FarmerPlusDataObjectLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FarmerPlusDataObjectLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCrop_attributes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Crop_attributes" nillable="true" type="tns:Crop_attributes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCrop_attributes" nillable="true" type="tns:ArrayOfCrop_attributes" />
  <xs:complexType name="Crop_attributes">
    <xs:sequence>
      <xs:element minOccurs="0" name="att_table_id" type="xs:int" />
      <xs:element minOccurs="0" name="attribute_lkp_id" type="xs:int" />
      <xs:element minOccurs="0" name="crop_mapping_id" type="xs:int" />
      <xs:element minOccurs="0" name="is_seed" type="xs:boolean" />
      <xs:element minOccurs="0" name="price" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Crop_attributes" nillable="true" type="tns:Crop_attributes" />
</xs:schema>